@model HomeCreateViewModel
@{
    ViewBag.Title = "Добавить транзакцию";


    var ErrorMessage = ViewBag.ErrorMessage ?? "";
}

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Вернуться на главную</a>


<h3 class="text-danger">@ErrorMessage</h3>

<form asp-controller="home" asp-action="create" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="DateTime" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="datetime-local" asp-for="DateTime" placeholder="Введите дату и время" id="datePicker" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" />
            <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Type" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select id="action-types" asp-for="Type" asp-items="Html.GetEnumSelectList<ActionTypes>()">
                <option value=""></option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Category" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select id="categories" asp-for="Category">
                <option class="0" value="0">Заработная плата</option>
                <option class="0" value="1">Дохода с сдачи в аренду недвижимости</option>
                <option class="0" value="2">Иные доходы</option>
                <option class="1" value="3">Продукты питания</option>
                <option class="1" value="4">Транспорт</option>
                <option class="1" value="5">Мобильная связь</option>
                <option class="1" value="6">Интернет</option>
                <option class="1" value="7">Развлечения</option>
                <option class="1" value="8">Другое</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Amount" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Amount" placeholder="Введите сумму" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Comment" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Comment" placeholder="Введите комментарий" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <script>
        window.onload = (event) => {
            document.getElementById('datePicker').valueAsDate = new Date();
        };
    </script>
    
    <script>
        $(function () {
            $("#action-types").on("change", function () {
                var actionType = $('#action-types').find('option:selected').attr('value');
                $('#categories option').each(function () {
                    var self = $(this);
                    if (self.hasClass(actionType) || typeof (actionType) == "undefined") {
                        self.show();
                    } else {
                        self.hide();
                    }
                });
            });
        });
    </script>

}